
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="/static/homepage.css" type="text/css"/>
	<title> Useful Things </title>
</head>
<body>
	<h1> Useful Things </h1>
	<h2> Everyday Items For Everyone </h2>
	<div id="block">
		<div id="itemlist">
		<table>
			<thead>
				<th> Image </th>
				<th> Name </th>
				<th> Price </th>
				<th> Number </th>
			</thead>
			<tbody>
			</tbody>
		</table>
		</div>
		<div id="login">
			<p> Login </p>
                <form method="POST" action="">
					<div class="formline" >
						<label>Username</label>
						<input type="text" name="username" />
					</div>
                    <div>
                           <label>Passwort</label>
                           <input type="password" name="password"/> 
                    </div> 
					<br />
					<input type="submit" name="eingabe" value="Log in" />
				</form>
		</div>
	</div>
</body>
