
#header{ 
text-align:center;
padding-bottom:2px;
padding-top:3px;
}
#image{align-items:center;
justify-content:center;
}
body{

}
#block{
display:flex;

}
th{ width: 10%
}

#itemlist {color:red;
background-color: LightSteelBlue;
width:80%;

}
#login{background-color:SlateGray;
color:Black;
margin: 1px, solid;
float: right;
width:20%
}
